#settings-app
{
    background: var(--bs-dark)!important;
    color: #fff;
    min-height: 100vh;
}
#settings-app form
{
    padding-top: 10vh;
    max-width: 1000px;
    margin: 0 auto;
}
input
{
    background: #000;
    border: 1px solid #ffffff2e;
    border-radius: 4px;
    padding: 8px;
    color: #fff;
}
#settings-app form .input-group
{
    display: grid;
}
#settings-app form .input-group label
{
    margin-bottom: 8px;
    font-weight: 500;
    color: #fff;
}
form ul.option
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
form ul.option li
{
    border-radius: calc(infinity*1px);
    border: 1px solid #ffffff2e;
    padding: 8px 0px;
    text-align: center;
    transition: all .2s ease-out;
}
form ul.option li.active
{
    border-color: #d7c09c
}

.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 4px;
  }
  .container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border-radius: 4px;
  }
  input[type='number']
  {
    min-width: 70px;
    text-align: center;
  }
  .container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container-checkbox input:checked ~ .checkmark {
    background-color: #d7c09c;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .subtitle-with-line::before
  {
    content: '';
    height: 1px !important;
    width: 45%;
    position: absolute;
    left: 0;
    top: 49%;
    background: #ffffff2e;
  }
  .subtitle-with-line::after
  {
    content: '';
    height: 1px !important;
    width: 45%;
    position: absolute;
    right: 0;
    top: 49%;
    background: #ffffff2e;
  }
  .btn-add
  {
    padding: 8px;
    border: 1px solid #ffffff2e;
    border-radius: calc(infinity*1px);
  }
  .grid-intent
  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
  }
  .grid-intent .intent-item
  {
    padding: 10px;
    background: #000;
    border-radius: 5px;
  }
  .grid-intent .intent-item img
  {
    max-width: 30px;
  }
  .grid-intent .intent-item span
  {
    width: 100%;
    display: block;
    margin-top: 10px;
  }
  ul.option-interest
  {
    display: flex;
    flex-wrap: wrap;
  }
  ul.option-interest li
  {
    padding: 4px 8px;
    border: 1px solid #ffffff2e;
    border-radius: calc(infinity*1px);
    margin-top: 10px;
    cursor: pointer;
    transition: .2s all ease-out;
  }
  ul.option-interest li:hover
  {
    border-color: var(--primary)
  }
  ul.option-sexual 
  
  {
    padding: 0px 20px;
    text-align: left;
  }
  ul.option-sexual li 
  {
    padding: 10px 20px;
    border-bottom: 1px solid #ffffff2e;
    transition: .2s all ease-out;
    cursor: pointer;
  }
  ul.option-sexual li:hover
  {
    color: var(--primary);
    border-color: var(--primary);
  }
